
@media only screen and (min-width: 767px) {


      a {
        text-decoration: none!important;
        color: white!important;
      }
      .custom-ml-auto {
        margin-left: auto;
        margin-right: 5%;
    }
      #nav-section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        opacity: 0;
        transition: opacity 2s ease-in-out;
    
      }
      .nav-item {
        margin-left: 50px!important;
    }

      .textnavbar {
        font-family: 'Roboto', sans-serif !important;
        height: 50px;
        background-color: #ffffff;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

      }

    .divduhaut {
        margin: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .textduhaut{
        width: 60%;
    }
    .imageduhaut {
        width: 40%;
        margin-left: 10%;
        border-radius: 20px;
    }
    h1 {
        font-size: 5rem!important;
        font-weight: 700!important;
    }
    .boutonviolet {
        background-color: #980101;        color: white;
        width: 150px;
        height: 50px;
        border-radius: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;

    }

    .boutonnoir
    {
        background-color: rgb(0, 0, 0);
        margin-left: 50px;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;

    }

    .boutonpremiertexte {
        display: flex; flex-direction: row; 
    }
    .sepa {
        margin-top: 2%;
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin-bottom: 2%;
    }

    .div2 {
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        background-color: rgb(255, 255, 255);

    }
    .div2fesse {
        width: 33.33%;
        height: auto;
        opacity: 0.5;

    }
    h4 {
        font-size: 40px!important;
        font-weight: bold!important;
    }

    .div3 {
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    .div3gauche {
        width: 50%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .div3gauchehaut,
    .div3gauchebas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .div3gauchehaut > div,
    .div3gauchebas > div {
        flex: 1;
        padding: 5px;
        background-color: rgba(160, 160, 160, 0.055);
        max-width: calc(50% - 10px); /* Pour que chaque div occupe la moitié de l'espace avec 10px de marge */
    }

    .div3droite {
        width: 30%;
        padding: 2%;
    }

    .div4 {
        margin-top: 5%;
        display: flex;
        justify-content: space-around; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
    }

    .div4texte {
        width: 30%;
    }

    .div4photodiv {
        width: 30%;
        border-radius: 20px;
    }

    .div5 {
        margin-top: 5%;
        display: flex;
        flex-direction: row-reverse ;
        justify-content: space-around; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
    }

    .div5texte {
        width: 30%;
    }

    .div5photodiv {
        width: 40%;
        border-radius: 20px;
    }

    .div6 {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        text-align: center;
    }

    .accordion {
       
        margin-top: 5%;
        width: 75%;
        margin-bottom: 5%;
    }

    .accordion-item {
        border: none!important;
    }
    /* footer */
    
    /* footer */
    
    footer {
        padding: 2% 2% 2% 2%;
        display: flex;
        flex-direction: row;
        color: white;
        background-color: black;
        justify-content: space-around;
    }
    
    .reseaux {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin: 5%;
        max-width: 50px;
        max-height: 50px;
    }
    
    .infolegale {
        width: 55%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
    
    .infolegale p {
        font-size: small;
        margin-left: 2%;
    }
    }
    
@media only screen and (max-width: 765px) {


    a {
      text-decoration: none!important;
      color: white!important;
    }
    .custom-ml-auto {
      margin-left: auto;
      margin-right: 5%;
  }
    #nav-section {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      opacity: 0;
      transition: opacity 2s ease-in-out;
  
    }
    .nav-item {
      margin-left: 50px!important;
  }

    .textnavbar {
      font-family: 'Roboto', sans-serif !important;
      height: 50px;
      background-color: #ffffff;
      font-size: 20px;
      color: rgb(255, 255, 255)!important;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  .divduhaut {
      padding: 10%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }
  .textduhaut{
    margin-top: 5%;
      width: 80%;
      text-align: center;
  }
 .imageduhaut {
        width: 90%;
        border-radius: 20px;
 }
  h1 {

      font-size: 2rem!important;
      font-weight: 700!important;
  }
  .boutonviolet {
      background-color: #980101;        color: white;
      width: 150px;
      height: 50px;
      border-radius: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2%;

  }

  .boutonnoir
  {
      background-color: rgb(0, 0, 0);

      color: white;
      width: 150px;
      height: 50px;
      border-radius: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10%;

  }
  .boutonpremiertexte {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: auto;
}
  .sepa {
      margin-top: 2%;
      height: 2px;
      width: 100%;
      background-color: #000000;
      margin-bottom: 2%;
  }

  .div2 {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;


}
.div2fesse {
    margin-top: 5%;
    width: 90vw;
    height: auto;
    border-radius: 20px;
}
  h4 {
      font-size: 20px!important;
      font-weight: bold!important;
  }

  .div3 {
      margin-top: 4%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

  }
  .div3droite {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div3gauchehaut,
  .div3gauchebas {
    display: flex;
    flex-direction: column;
    align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;

  }

  .div3gauchehaut > div,
  .div3gauchebas > div {
      flex: 1;
      padding: 5px;
      background-color: white!important;
  }


  .div4 {
      margin-top: 5%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; /* Centre verticalement */
  }

  .div4texte {
      width: 80%;
      margin-top: 5%;
      text-align: center;
  }

  .div4photodiv {
      width: 80%;
      border-radius: 20px;
  }

  .div5 {
      margin-top: 5%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; /* Centre verticalement */
  }

  .div5texte {
      width: 80%;
      margin-top: 5%;
      text-align: center;

  }

  .div5photodiv {
      width: 80%;
      border-radius: 20px;
  }

  .div6 {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; /* Centre horizontalement */
      align-items: center; /* Centre verticalement */
      text-align: center;
  }

  .accordion {
     
      margin-top: 5%;
      width: 75%;
      margin-bottom: 5%;
  }

  .accordion-item {
      border: none!important;
  }
  /* footer */
  
  /* footer */
  
  footer {
      padding: 2% 2% 2% 2%;
      display: flex;
      flex-direction: row;
      color: white;
      background-color: black;
      justify-content: space-around;
  }
  
  .reseaux {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .logo {
      margin: 5%;
      max-width: 50px;
      max-height: 50px;
  }
  
  .infolegale {
      width: 55%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
  }
  
  .infolegale p {
      font-size: small;
      margin-left: 2%;
  }
  }